*{
  margin:0px;
  padding:0px;
  font-family:monospace;
}

body,html{
  background-color:#181A23;
}

.game-area{
  display:grid;
  grid-template-columns:2fr 1fr;
}

.navbar{
  display:flex;
  align-items:center;
  justify-content:space-around;
  height:7vh;
  width: 100vw;
  color: #31CE56;
  background-color: #080E20;
  font-family:monospace;
}

.navbar-links{
  display:flex;
  list-style-type: none;
  font-size : 1.3rem;
  justify-content:space-between;
  padding-left:1vw;
}

.links{
  text-decoration:none;
  color:#ffffff;
  list-style-type:none;
  padding-left:1vw;
  transition:0.3s;
}

.links:hover{
  color:#31CE56;
  transition:0.3s;
}

.task-info{
  color: #31CE56;
  font-family:monospace;
  padding-top:20vh;
  padding-right:10vw;
}

.task-info .code{
  color: orchid;
  font-family:monospace;
  background-color: #080E20;
  padding:1vh;
  border-radius: 10%;
}

.editor{
  height:70vh;
  width: 60vw;
  margin: 5vh;
}

.command-bar{
  color:#31CE56;
  background-color:#091044;
  padding:1vh;
  font-size:1.3rem;
}

.common-keys-bar{
  display:none;
}

.keystroke-number{
  color:#ffffff;
  padding: 1vh;
  font-size:1.3rem;
}

.score{
  color:#ffffff;
  padding: 2vh;
  font-size:1.2rem;
}


.basic-keys-info{
  margin:1vw;
}

b{
  color:orchid;
}

p{ 
  margin-top:2.5vh;
}

.score-show{
  color:#31CE56;
  font-size:1.6rem;
}

.refresh-cta{
    position:absolute;
    top:10%;
    right:10%;
    color:#fff;
    padding:1vh;
    background-color: transparent;
    border:2px solid #31CE56;
}


.label-opt{
    color:#31CE56; 
}

.selector{
    margin-top:3vh;
    background:#343434; 
}

/* .css-yk16xz-control{ */
/*   background-color:#343434 !important; */
/*   color:#ccc !important; */
/* } */

/* .css-1pahdxg-control{ */
/*   background-color:#343434 !important; */
/*   color:#ccc !important; */
/* } */

/* .css-1pahdxg-control:hover{ */
/*   background-color:#343434 !important; */
/*   color:#ccc !important; */
/* } */

/* .css-1pahdxg-control:active{ */
/*   background-color:#343434 !important; */
/*   color:#fff !important; */
/* } */

/* .css-yk16xz-control:hover{ */
/*   background-color:#343434 !important; */
/*   color:#fff !important; */
/* } */

/* .css-yk16xz-control:active{ */
/*   background-color:#343434 !important; */
/*   color:#fff !important; */
/* } */

/* loaders */

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #31CE56;
  border-color: #31CE56 transparent#31CE56 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container{
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;
  width:100vw;
}


/* Add mobile friendly view */

@media screen and (max-width: 792px) {
  body{
    overflow-x:hidden;
  }

  .game-area{
    display:flex;
    flex-flow:column;
    margin-right:5vw;
  }

  .editor{
    height:50vh;
    width: 90vw;
  }

  .task-info{
    color: #31CE56;
    font-family:monospace;
    margin:5vh;
    height:50vh
  }
  
  .task-info .code{
    color: orchid;
    font-family:monospace;
    background-color: #080E20;
    padding:1vh;
    border-radius: 10%;
  }

  .common-keys-bar{
    display:flex;
    position:fixed;
    z-index:1000;
    bottom:0;
    left:0;
    width:100vw;
    background-color: #080E20;
    padding:1vw;
    color:#fff;
  }

  .common-keys-bar p{
    width:80vw;
    padding:2vw;
    color:#fff;
  }

  .common-keys-bar button{
    color:#fff;
    width:10vw;
    background-color: transparent;
    margin:6vw;
    border:2px solid #31CE56;
  }

  .hidden{
    display:none;
  }
  
}
