/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #1b1c1f;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.CodeMirror {
  font-size: 1.4em !important;
  height: 70vh !important;
}
