.Container{
 margin: 5%; 
 width: 100%;
 height: auto;
}

.Text {
 font-size: 1.8rem;
 width: 60vh;
 text-align: center
}

.Title {
 color : hotpink;
}

.Links {
 color : #3ee
}

.Ul{
 margin-left: 5%;
 margin-top: 2%;
}
