.Container {
  background-color: #292d3e40;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%;
  height: 10vh;
  width: 100vw;
}

.Title {
  color: #cd70e9;
  font-size: 3em;
  font-family: Courier;
  font-weight: bold;
}

.LinkContainer {
  display: flex;
  padding-right: 10%;
}
