.Container {
  background-color: #3A3650;
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding-left: 3%;
  height: 10vh;
  width: 100vw;
}

.Title {
 color : #C320CF;
 font-size : 3em;
 font-family: Courier;
 font-weight: bold;
}

.LinkContainer{
 display : flex;
 padding-right: 10%;
}
