.Faq-Page{
  margin:5vh;
}

.Faq-Page h1 {
  color:#31CE56;
  font-size:2.9rem;
}

.Faq-Page p{
  color:#ffffff;
  font-size:1.5rem;
}

.Faq-Page a{
  color:orchid;
  font-size:1.5rem;
}

.KeyBinds-Page{
  margin:5vh;
}

.KeyBinds-Page h1 {
  color:#31CE56;
  font-size:2.9rem;
}

.KeyBinds-Page p{
  color:#ffffff;
  font-size:1.5rem;
}

.KeyBinds-Page ul{
  margin:3vw;
  font-size:1.2rem;
  color:#31CE56;
}

.KeyBinds-Page ul li{
  margin:0.5vw;
  font-size:1.2rem;
  color:#31CE56;
}

@media screen and (max-width: 792px) {
  body{
    overflow-x:hidden;
  }
  .Faq-Page h1 {
    color:#31CE56;
    font-size:2.9rem;
  }
  
  .Faq-Page p{
    color:#ffffff;
    margin:10%;
    font-size:1.2rem;
  }
  
  .Faq-Page a{
    color:orchid;
    font-size:1.2rem;
  }

  .KeyBinds-Page p{
    color:#ffffff;
    font-size:1.2rem;
    margin:10%
  }
}
